.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;

  aspect-ratio: 3/2;

  position: relative;
}

.figure {
  position: absolute;
}
